@font-face {
  font-family: PoetsenOne-Regular;
  src: url("../font/PoetsenOne-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: PoetsenOne-Regular;
}

.menu {
  display: flex;

  background-color: #027519;
  align-items: center;
  height: 100%;

  max-height: 70px;
}

.menu a {
  margin-left: 10px;
  text-decoration: none;

  text-align: center;

  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.menu-sair {
  margin-left: 20px;
  padding-left: 1204px;
}

.container {
  margin-top: 150px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 15px;
  justify-content: center;
}

.item {
  padding: 15px 25px;
  background-color: #027519;
  border: none;
}

.item a {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
}
