@font-face {
  font-family: PoetsenOne-Regular;
  src: url("fonte/PoetsenOne-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: PoetsenOne-Regular;
}

h1 {
  font-family: "PoetsenOne-Regular";
  font-size: 36px;
  font-weight: 400;
}

.centralizado {
  text-align: center;
  margin-top: 40px;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-left: 582px;
  width: 500px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}

.card {
  padding: 100px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 306px;
  color: #999999;
  margin-left: -1px;
}
.card h3 {
  text-align: center;
  font-family: "PoetsenOne-Regular";
  margin-bottom: 35px;
  font-size: 36px;
}

#user {
  margin-top: 38px;
}

button[type="submit"] {
  background-color: #027519;
  color: white;
  border: none;
  margin-top: 3px;
  padding: 10px 131px;
  border-radius: 3px;

  margin-top: 36px;
  cursor: pointer;
}

form input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-right: 143px;
  height: 30px;
}

#usuario {
  margin-bottom: 12px;
}

.cadastro {
  text-align: center;
}
