*{
    padding: 0%;
    margin: 0;
    font-family: "PoetsenOne-Regular";
}
body{
    background: #f1f1f1;
}
.conteudo {
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;

}
.calendario{
    text-align: center;
}
.conteudo .calendario header{
    position: relative;
}
h2{
    margin-top: 100px;
    font-size: 32px;
    text-transform: uppercase;
}
.btn-ant,.btn-pro{
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}
.btn-ant{
    left: 80px;
}
.btn-pro{
    right: 80px;
}
.btn-ant:hover,.btn-pro:hover{
    background:#cbd1d2;
    color: #f9f9f9;
}
.calendario table{
    margin-top: 20px;
    border-collapse: collapse;
}
.calendario thead{
    /* modificar paleta de cores aqui */
    background-color: rgb(185, 172, 147);
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid brown;
}
.calendario td{
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody td{
    cursor: pointer;
}
.calendario tbody td:hover{
    background: rgba(2, 117, 11, 0.623);
    color: #f9f9f9;
}
.calendario table .dia-atual{
    background: #00addf;
    color: #f9f9f9;
}
.calendario .mes-anterior, .calendario .proximo-mes{
    color: #cbd1d2;
}
.calendario .mes-anterior:hover .calendario .proximo-mes:hover{
    background: #98a0a0;
}
.event{
    position: relative;
}
.event:after{
    content:'';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover::after{
    background: #f9f9f9;
}
.event.dia-atual::after{
    background: #f9f9f9;
}
@media(max-width){
    .conteudo{
    margin-left: 468px;
    }
}